body {
  font: 11px "Inter", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex: auto;
  overflow: auto;
  flex-wrap: wrap;
  align-content: flex-start;
}

.header {
  line-height: 32px;
  height: 32px;
  margin: 0;
  background-color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.item-container {
  width: 100%;
}

.section {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

.item {
  padding-left: 16px;
  padding-right: 16px;
}

.item-title {
  font-weight: 600;
  line-height: 32px;
  height: 32px;
  padding: 0 -12px;
  background-color: #fff;
  cursor: pointer;
}

.item-container-selected {
  background-color: #edf5fa;
}

.item-title-selected {
  background-color: #daebf7;
}

.item-title-hover:hover {
  box-shadow: inset 0 0 0 1px #18a0fb;
}

.item-details {
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: default;
}

.item-details-clickable {
  cursor: pointer;
}

.item-details-selected {
  background-color: #daebf7;
}

.item-details-hover:hover {
  box-shadow: inset 0 0 0 1px #18a0fb;
}

.preview-section {
  display: flex;
  flex: auto;
  overflow: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 8px 0;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  cursor: pointer;
}

.preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2px;
  border-radius: 2px;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.preview-container:hover > .preview {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

.preview-container:hover > .preview-text {
  color: #18a0fb;
}

.preview-selected {
  box-shadow: inset 0 0 0 1px #18a0fb;
}

.preview-text {
  display: flex;
  justify-content: center;
  width: 100px;
}

.preview-text-selected {
  color: #18a0fb;
}

.preview-img {
  width: 84px;
  height: 84px;
  margin: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  height: 48px;
  padding: 8px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  text-align: right;
}

button {
  font: 11px "Inter", sans-serif;
  cursor: pointer;
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

#create {
  box-shadow: none;
  background: #18a0fb;
  color: white;
}

input {
  border: none;
  outline: none;
  padding: 8px;
}

input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

#create:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
